
@font-face {
  font-family: HeaderFont;
  src: url('./assets/Montserrat/Montserrat-Regular.ttf');
}

@font-face {
  font-family: BodyFont;
  src: url('./assets/Lato/Lato-Regular.ttf');
}

@font-face {
  font-family: FunFont;
  src: url('./assets/teen/teen.ttf');
}

body {
	font-family: 'HeaderFont', sans-serif;
	background-color: black;
}
